@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #141414;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 45px;
  text-align: center;
  margin-top: 8%;
  color: white;
}

img {
  width: 180px;
  height: 180px;
  border-radius: 5%;
  margin-top: 50px;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.texto {
  text-align: center;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
  cursor: pointer;
  color: gray;
}

.btn {
  cursor: pointer;
  width: 200px;
  font-size: 20px;
  color: gray;
  border: 2px solid;
  border-radius: 4%;
}

span {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  height: 40px;
}

.btn:hover {
  display: flex;
  justify-content: center;
  color: white;
}

.texto:hover{
  color: white;
}